{% extends 'base.html.twig' %}

{% block title %}Trophy Host{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('leader') }}
{% endblock %}

{% block body %}
	<div id="leader"></div>
{% endblock %}
